@charset "utf-8";
/* CSS Document */

p{
	font-family:"Comic Sans MS", cursive;
	font-size:14px;
	color: #000000;
	line-height:18px;
	padding:5px;
	}
	
.negritas {
	font-family: "Comic Sans MS", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	color: #000000;
}
.navegacion{
	font-family:  "Comic Sans MS", sans-serif;
	font-size: 18px;
	color: #D8BFD8;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	background-color: #DA70D6;
	display: block;
	padding: 8px;
	width: 140px;
}
.navegacion:hover{
	font-family:  "Comic Sans MS", sans-serif;
	font-size: 20px;
	color: #DA70D6 ;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	background-color: #D8BFD8;
	display: block;
	padding: 8px;
	width: 140px;
}
